Code Reference/tds-returns/src/main/resources/xsd/Form15CA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://incometaxindiaefiling.gov.in/FORM15CAB"
	xmlns:Form="http://incometaxindiaefiling.gov.in/common" xmlns:Form15CA="http://incometaxindiaefiling.gov.in/FORM15CAB"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">

	<xs:import namespace="http://incometaxindiaefiling.gov.in/common"
		schemaLocation="./Common.xsd" />

	<xs:element name="FORM15CA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Form:CreationInfo" />
				<xs:element ref="Form:Form_Details" />
				<xs:element name="PartType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="(PA)|(PB)|(PC)|(PD)" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="Form15CA:RemitterDetls" />
				<xs:element ref="Form15CA:RemitteeDetls" />
				<xs:element ref="Form15CA:RemittanceDetls" />
				<xs:element ref="Form15CA:AcctntDetls" minOccurs="0" />
				<xs:element ref="Form15CA:AoOrderDetls" minOccurs="0" />
				<xs:element ref="Form15CA:ItActDetails" minOccurs="0" />
				<xs:element ref="Form15CA:DTAADetails" minOccurs="0" />
				<xs:element ref="Form15CA:TDSDetails" minOccurs="0" />
				<xs:element ref="Form15CA:Declaration" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RemitterDetls">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NameRemitter" type="Form15CA:nameType" />
				<xs:element name="PAN" type="Form15CA:panTypeDefault"
					minOccurs="0" />
				<xs:element name="Tan" type="Form15CA:tanType" minOccurs="0" />
				<xs:element name="TanAckPartC" type="Form15CA:tanAckType"
					minOccurs="0" />
				<xs:element name="RemitterAddrs" type="Form15CA:addressType" />
				<xs:element name="EmailRemitter" type="Form15CA:emailType" />
				<xs:element name="PhoneRemitter" type="Form15CA:phoneType" />
				<xs:element name="Status">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10" />
							<xs:pattern value="[1-4]{1}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IncTaxWard" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="75" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PrincPlcBusRemter" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="75" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				
				<xs:element name="ResidentialStatus" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10" />
							<xs:pattern value="[1-4]{1}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DomesticFlg" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[1-4]{1}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AreaCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AoType" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RangeCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{3}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AoNumber" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{2}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RemitteeDetls">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NameRemittee" type="Form15CA:nameType" />
				<xs:element name="PanRemittee" type="Form15CA:panType"
					minOccurs="0" />
				<xs:element name="StatusRemittee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="10" />
							<xs:pattern value="[1-4]{1}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RemitteeAddrs" type="Form15CA:addressType" />
				<xs:element name="EmailRemittee" type="Form15CA:emailType"
					minOccurs="0" />
				<xs:element name="PhoneRemittee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{10,12}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CountryRemMade" type="Form:countryType"
					minOccurs="0" />
				<xs:element name="CountryRemMadeDesc" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyString">
							<xs:maxLength value="125" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PrincPlcBusRemtee" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="75" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RemittanceDetls">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AmtPayBefTds" type="Form15CA:positiveDecimalAmt"
					minOccurs="0" />
				<xs:element name="AggAmtRem" type="Form15CA:positiveDecimalAmt"
					minOccurs="0" />
				<xs:element name="NameBankCode" type="Form15CA:nameType" >
					<xs:annotation>
						<xs:documentation>
							9001-Abhyudaya Cooperative Bank
							9002-Abu Dhabi Commercial Bank
							9003-Ahmedabad Mercantile Cooperative Bank
							9004-Akola Janata Commercial Cooperative Bank
							9005-Allahabad Bank
							9006-Almora Urban Co-Operative Bank ltd
							9007-Andhra Bank
							9008-Andhra Pragathi Grameena Bank
							9009-Apna Sahakari Bank Ltd
							9010-Australia and New Zealand Banking Group Ltd
							9011-Axis Bank
							9012-Bank Internasional Indonesia
							9013-Bank of America
							9014-Bank of Bahrein and Kuwait
							9015-Bank of Baroda
							9016-Bank of Ceylon
							9017-Bank of India
							9018-Bank of Maharashtra
							9019-Bank of Tokyo Mitsubishi Ltd
							9020-Barclays Bank
							9021-Bassein Catholic Co-Op Bank Ltd
							9022-Bharat Cooperative Bank Mumbai Ltd
							9023-Bharatiya Mahila Bank Ltd
							9024-BNP Paribas Bank
							9025-Canara Bank
							9026-Capital Local Area Bank Ltd
							9027-Catholic Syrian Bank
							9028-Central Bank of India
							9029-Chinatrust Commercial Bank
							9030-CITI Bank
							9031-Citizen Credit Cooperative Bank
							9032-City Union Bank Ltd
							9033-Commonwealth Bank of Australia
							9034-Corporation Bank
							9035-Credit Agricole Corporate and Investment Bank
							9036-Credit Suisse AG
							9037-DBS Bank Ltd
							9038-DCB Bank Ltd
							9039-Dena Bank
							9040-Deposit Insurance and Credit Guarantee Corporation
							9041-Deutsche Bank
							9042-Dhanlaxmi Bank Ltd
							9043-DICGC
							9044-Doha Bank QSC
							9045-Dombivli Nagari Sahakari Bank Ltd
							9046-Export Import Bank of India
							9047-Federal Bank Ltd
							9048-Firstrand Bank Ltd
							9049-G P Parsik Bank
							9050-Gurgaon Gramin Bank Ltd
							9051-HDFC Bank Ltd
							9052-HSBC
							9053-HSBC Bank Oman Saog
							9054-ICICI Bank Ltd
							9055-IDBI Ltd
							9056-Indian Bank
							9057-Indian Overseas Bank
							9058-Indusind Bank Ltd
							9059-Industrial and Commercial Bank of China Ltd
							9060-ING Vysya Bank Ltd
							9061-Jalgaon Janata Sahkari Bank Ltd
							9062-Janakalyan Sahakari Bank Ltd
							9063-Janaseva Sahakari Bank (Borivli) Ltd
							9064-Janaseva Sahakari Bank Ltd
							9065-Janata Sahakari Bank Ltd (Pune)
							9066-Jankalyan Sahakari Bank Ltd
							9067-JP Morgan Chase Bank NA
							9068-Kallappanna Awade Ichalkaranji Janata Sahakari Bank Ltd
							9069-Kalupur Commercial Cooperative Bank
							9070-Kapol Cooperative Bank
							9071-Karnataka Bank Ltd
							9072-Karnataka Vikas Grameena Bank
							9073-Karur Vysya Bank
							9074-Kerala Gramin Bank
							9075-Kotak Mahindra Bank
							9076-Laxmi Vilas Bank
							9077-Mahanagar Cooperative Bank Ltd
							9078-Maharastra State Cooperative Bank
							9079-Mashreq Bank
							9080-Mizuho Corporate Bank Ltd
							9081-Nagar Urban Co-Operative Bank
							9082-Nagpur Nagrik Sahakari Bank Ltd
							9083-National Australia Bank
							9084-New India Cooperative Ban Ltd
							9085-NKGSB Cooperative Bank Ltd
							9086-North Malabar Gramin Bank
							9087-Nutan Nagarik Sahakari Bank Ltd
							9088-Oman International Bank
							9089-Oriental Bank of Commerce
							9090-Pragathi Krishna Gramin Bank
							9091-Prathama Bank
							9092-Prime Co-Operative Bank Ltd
							9093-Punjab and Maharashtra Cooperative Bank Ltd
							9094-Punjab and Sind Bank
							9095-Punjab National Bank
							9096-Rabobank International
							9097-Rajgurunagar Sahakari Bank Ltd
							9098-Rajkot Nagarik Sahakari Bank Ltd
							9099-Ratnakar Bank Ltd
							9100-Reserve Bank of India
							9101-Sahebrao Deshmukh Co-Op. Bank Ltd
							9102-SBER Bank
							9103-Shikshak Sahakari Bank Ltd
							9104-Shinhan Bank
							9105-Shri Chhatrapati Rajarshi Shahu Urban Co-Op Bank Ltd
							9106-Societe Generale
							9107-Solapur Janata Sahkari Bank Ltd
							9108-South Indian Bank
							9109-Standard Chartered Bank
							9110-State Bank of Bikaner and Jaipur
							9111-State Bank of Hyderabad
							9112-State Bank of India
							9113-SBM Bank (India) Limited
							9114-State Bank of Mysore
							9115-State Bank of Patiala
							9116-State Bank of Travancore
							9117-Sumitomo Mitsui Banking Corporation
							9118-Sutex Cooperative Bank Ltd
							9119-Syndicate Bank
							9120-Tamil Nadu Mercantile Bank
							9121-The A.P. Mahesh Co-Op Urban Bank Ltd
							9122-The Akola District Central Co-Operative Bank
							9123-The Andhra Pradesh State Coop Bank Ltd
							9124-The Bank of Nova Scotia
							9125-The Cosmos Cooperative Bank Ltd
							9126-The Delhi State Cooperative Bank Ltd
							9127-The Gadchiroli District Central Cooperative Bank Ltd
							9128-The Greater Bombay Co-operative Bank Ltd
							9129-The Gujarat State Co-Operative Bank Ltd
							9130-The Jalgaon Peoples Co-Op Bank
							9131-The Jammu and Kashmir Bank
							9132-The Kalyan Janata Sahakari Bank Ltd
							9133-The Kangra Central Cooperative Bank Ltd
							9134-The Kangra Cooperative Bank Ltd
							9135-The Karad Urban Co-op Bank Ltd
							9136-The Karnataka State Apex Cooperative Bank Ltd
							9137-The Kurmanchal Nagar Sahkari Bank Ltd
							9138-The Mehsana Urban Cooperative Bank Ltd
							9139-The Mumbai District Central Co-Op Bank Ltd
							9140-The Municipal Co Operative Bank Ltd, Mumbai
							9141-The Nainital Bank Ltd
							9142-The Nasik Merchants Co-Op Bank Ltd
							9143-The Rajasthan State Cooperative Bank Ltd
							9144-The Royal Bank of Scotland N.V.
							9145-The Saraswat Cooperative Bank Ltd
							9146-The Seva Vikas Co-Operative Bank Ltd
							9147-The Shamrao Vithal Cooperative Bank Ltd
							9148-The Surat District Co Operative Bank Ltd
							9149-The Surat Peoples Co-Op Bank Ltd
							9150-The Tamilnadu State Apex Cooperative Bank
							9151-The Thane Bharat Sahakari Bank Ltd
							9152-The Thane District Central Co-Op Bank Ltd
							9153-The Varachha Co-Op. Bank Ltd
							9154-The Vishweshwar Sahakari Bank Ltd
							9155-The West Bengal State Cooperative Bank Ltd
							9156-The Zoroastrian Cooperative Bank Limited
							9157-TJSB Sahakari Bank Ltd
							9158-Tumkur Grain Merchants Cooperative Bank Ltd
							9159-UCO Bank
							9160-Union Bank of India
							9161-United Bank of India
							9162-United Overseas Bank
							9163-Vasai Vikas Sahakari Bank Ltd
							9164-Vijaya Bank
							9165-Westpac Banking Corporation
							9166-Woori Bank
							9167-Yes Bank Ltd
							9168-Zila Sahkari Bank Ltd Ghaziabad
							9169-The HASTI Co-Operative Bank Ltd
							9170-Bandhan Bank Limited
							9171-IDFC Bank Limited
							9172-Industrial Bank of Korea
							9173-National Bank of Abu Dhabi PJSC
							9174-Surat National Cooperative Bank Limited
							999-Other Bank
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NameBankDesc" type="Form15CA:nameType"
					minOccurs="0" />
				<xs:element name="BranchName" type="Form15CA:nameType"
					minOccurs="0" />
				<xs:element name="PropDateRem">
					<xs:simpleType>
						<xs:restriction base="xs:date" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="NatureRemCategory">
					<xs:annotation>
						<xs:documentation>
							16.1-ADVERTISEMENT FEE
							16.2-AMC CHARGES
							16.3-ARCHITECTURAL SERVICES
							16.4-BANDWIDTH CHARGES
							16.5-BROKEREAGE CHARGES
							16.6-BUSINESS INCOME OTHER THAN THAT COVERED BY CATEGORIES ABOVE 
							16.7-CARGO HANDLING SERVICES INSPECTION and LOGISTICS SERVICES
							16.8-CELLULAR ROAMING CHARGES
							16.9-CHARTER HIRE CHARGES (SHIPPING)
							16.10-CLEARING and FORWARDING CHARGES
							16.11-COMMISSION
							16.12-COMMUNICATION CHARGES
							16.13-CONSULTING SERVICES
							16.14-DESIGNING FEE
							16.15-DIRECTORS FEES 
							16.16-DIVIDEND
							16.17-DRILLING
							16.18-ENGINEERING SERVICES
							16.19-EQUIPMENT RENTAL CHARGES
							16.20-FABRICATION SERVICES
							16.21-FEES FOR TECHNICAL SERVICES/ FEES FOR INCLUDED SERVICES 
							16.22-FREIGHT CHARGES
							16.23-INCOME FROM IMMOVEABLE PROPERTY
							16.24-INCOME FROM SHIPPING, INLAND WATERWAYS OR AIR TRANSPORT 
							16.25-INSTALLATION and COMMISSIONING SERVICES
							16.26-INSURANCE COMMISSIONS 
							16.27-INTEREST PAYMENT
							16.28-INVESTMENT INCOME 
							16.29-LEASE PAYMENT
							16.30-LICENSING FEE
							16.31-LONG TERM CAPITAL GAINS 
							16.32-MEMBERSHIP FEE
							16.33-MOBILESTATION CHARGES
							16.34-PAYMENTS FOR SOFTWARE BUNDLED WITH HARDWARE 
							16.35-PAYMENTS TO PROFESSORS, TEACHERS OR RESEARCH SCHOLARS 
							16.36-PAYMENTS TO SPORTS PERSON and ARTISTS
							16.37-PAYMENTS TO STUDENTS OR BUSINESS APPRENTICE 
							16.38-PENSIONS(OTHER THAN THOSE RELATED TO PAST EMPLOYMENT)
							16.39-PROCESSING CHARGES
							16.40-PROFESSIONAL SERVICES
							16.41-PURCHASE OF SOFTWARE
							16.42-RandD CHARGES
							16.43-REGISTRATION CHARGES
							16.44-REIMBURSEMENT OF EXPENSES
							16.45-REPATRIATION OF SURPLUS FUNDS
							16.46-RETAINERSHIP FEES
							16.47-RETENTION FEES
							16.48-ROYALTY
							16.49-SALES AND MARKETING SERVICES
							16.50-SEISMIC DATA PROCESSING
							16.51-SHORT TERM CAPITAL GAINS 
							16.52-SOFTWARE LICENCES
							16.53-SPONSORSHIP FEES
							16.54-SUBSCRIPTION FEES
							16.55-SUPERVISION CHARGES
							16.56-SURVEY FEES
							16.57-TELECASTING SERVICES
							16.58-TENDER FEES
							16.59-TESTING CHARGES
							16.60-TRAINING
							16.61-WARRANTY SERVICES
							16.62-WINNING FROM HORSE RACES. 
							16.63-WINNING FROM LOTTERIES, CROSSWORD PUZZLES, CARD GAMES AND OTHER GAMES OF ANY SORT.
							16.64-CONSULAR RECEIPTS
							16.99-OTHER INCOME / OTHER (NOT IN THE NATURE OF INCOME)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="5" />
							<xs:minLength value="4" />
							<xs:enumeration value="16.1" />
							<xs:enumeration value="16.2" />
							<xs:enumeration value="16.3" />
							<xs:enumeration value="16.4" />
							<xs:enumeration value="16.5" />
							<xs:enumeration value="16.6" />
							<xs:enumeration value="16.7" />
							<xs:enumeration value="16.8" />
							<xs:enumeration value="16.9" />
							<xs:enumeration value="16.10" />
							<xs:enumeration value="16.11" />
							<xs:enumeration value="16.12" />
							<xs:enumeration value="16.13" />
							<xs:enumeration value="16.14" />
							<xs:enumeration value="16.15" />
							<xs:enumeration value="16.16" />
							<xs:enumeration value="16.17" />
							<xs:enumeration value="16.18" />
							<xs:enumeration value="16.19" />
							<xs:enumeration value="16.20" />
							<xs:enumeration value="16.21" />
							<xs:enumeration value="16.22" />
							<xs:enumeration value="16.23" />
							<xs:enumeration value="16.24" />
							<xs:enumeration value="16.25" />
							<xs:enumeration value="16.26" />
							<xs:enumeration value="16.27" />
							<xs:enumeration value="16.28" />
							<xs:enumeration value="16.29" />
							<xs:enumeration value="16.30" />
							<xs:enumeration value="16.31" />
							<xs:enumeration value="16.32" />
							<xs:enumeration value="16.33" />
							<xs:enumeration value="16.34" />
							<xs:enumeration value="16.35" />
							<xs:enumeration value="16.36" />
							<xs:enumeration value="16.37" />
							<xs:enumeration value="16.38" />
							<xs:enumeration value="16.39" />
							<xs:enumeration value="16.40" />
							<xs:enumeration value="16.41" />
							<xs:enumeration value="16.42" />
							<xs:enumeration value="16.43" />
							<xs:enumeration value="16.44" />
							<xs:enumeration value="16.45" />
							<xs:enumeration value="16.46" />
							<xs:enumeration value="16.47" />
							<xs:enumeration value="16.48" />
							<xs:enumeration value="16.49" />
							<xs:enumeration value="16.50" />
							<xs:enumeration value="16.51" />
							<xs:enumeration value="16.52" />
							<xs:enumeration value="16.53" />
							<xs:enumeration value="16.54" />
							<xs:enumeration value="16.55" />
							<xs:enumeration value="16.56" />
							<xs:enumeration value="16.57" />
							<xs:enumeration value="16.58" />
							<xs:enumeration value="16.59" />
							<xs:enumeration value="16.60" />
							<xs:enumeration value="16.61" />
							<xs:enumeration value="16.62" />
							<xs:enumeration value="16.63" />
							<xs:enumeration value="16.64" />
							<xs:enumeration value="16.99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NatureRemCode" type="Form15CA:nameType"
					minOccurs="0" />
				<xs:element name="AmtTaxDeductn" type="Form15CA:positiveDecimalAmt"
					minOccurs="0" />
				<xs:element name="DateOfDeductn" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:date" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="BsrCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{3}[A-Z0-9]{4}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CountryRemMadeSecb" type="Form:countryType"
					minOccurs="0" />
				<xs:element name="CountryRemMadeSecbDesc" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyString">
							<xs:maxLength value="125" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CurrencySecbCode" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							1-AFGAHANI
							2-ALBANIAN LEK
							3-ALGERIAN DINAR
							4-ANDORAN PESTA
							5-ANGOLAN NEW KWANZA
							6-ARGENTINE PESOS
							7-ARMENIAN DRAM
							8-ARUBAN GUILDER
							9-AUSTRALIAN DOLLAR
							10-AUSTRIAN SCHILLING
							11-AZERBAIJAN MANAT
							12-BAHAMIAN DOLLAR
							13-BAHRAINI DINAR
							14-BANGLADESH TAKA
							15-BARBADOS DOLLAR
							16-BELARUSSIAN RUBLE
							17-BELGIAN FRANC
							18-BELIZE DOLLAR
							19-BERMUDIAN DOLLAR
							20-BHUTAN NGULTRUM
							21-BOLIVIAN BOLIVIANO
							22-BOTSWANA PULA
							23-BRAZILIAN REAL
							24-BRUNEI DOLLAR
							25-BULGARIAN LEV
							26-BURUNDI FRANC
							27-CAMBODIAN REIL
							28-CANADIAN DOLLAR
							29-CAPE VERDE ESCUDO
							30-CAYMAN ISLANDS DOLLAR
							31-CFP FRANCS
							32-CHILEAN PESO
							33-COLOMBIAN PESO
							34-COMOROS FRANC
							35-COSTA RICAN COLON
							36-CROATIA KUNA
							37-CUBAN PESO
							38-CYPRUS POUND
							39-DANISH KRONE
							40-DEUTSCH MARK
							41-DJIBOUTI FRANC
							42-DOBRA
							43-DOMINICAN PESO
							44-EAST CARRIBEAN DOLLAR
							45-ECUADOR SUCRE
							46-EGYPTIAN POUND
							47-EL SALVADOR COLON
							48-ESTONIAN KROON
							49-ETHOPIAN BIRR
							50-EURO
							51-FALKLAND ISLANDSPOUND
							52-FIJI DOLLAR
							53-FINISH MARKKA
							54-FRENCH FRANC
							55-GAMBIAN DALASI
							56-GEORGIAN LARI
							57-GHANA CEDI
							58-GIBRALTAR POUND
							59-GREEK DRACHMA
							60-GUATEMALA QUETZAL
							61-GUINEA FRANC
							62-GUINEA-BISSAU PESO
							63-GUYANA DOLLAR
							64-HAITI GOURDE
							65-HONDURAS LEMPIRA
							66-HONGKONG DOLLAR
							67-HRYVNIA
							68-HUNGARIAN FORINT
							69-ICELAND KRONA
							70-INDIAN RUPEE
							71-INDONESIAN RUPIAH
							72-IRANIAN RIAL
							73-IRAQI DINAR
							74-IRISH POUNDS
							75-ISRAELI SHEKEL
							76-ITALIAN LIRA
							77-JAMAICAN DOLLAR
							78-JAPANESE YEN
							79-JORDANIAN DINAR
							80-KAZAKSTAN TENGE
							81-KENYAN SHILLING
							82-KINA
							83-KORUNA
							84-KUWAITI DINAR
							85-KWACHA
							86-KYAT
							87-KYRGYZSTAN SOM
							88-LAOS KIP
							89-LATVIAN LAT
							90-LEBANESE POUND
							91-LEONE
							92-LESOTHO LOTI
							93-LIBERIAN DOLLAR
							94-LIBYAN DINAR
							95-LILANGENI
							96-LITHUANIAN LITAS
							97-LUXEMBOURG FRANCS
							98-MACAU PATACA
							100-MACEDONIAN DENAR
							101-MALAGASSY FRANC
							102-MALAWIAN KWACHA
							103-MALAYSIAN RINGGIT
							104-MALDIVE RUFIYAA
							105-MALTESE LIRA
							106-MAURITANIAN OUGUIYA
							107-MAURITIUS RUPEE
							108-MEXICAN PESO
							109-MOLDOVAN LEU
							110-MONGOLIAN TUGRIK
							111-MORACCAN DIRHAM
							112-MOZAMBIQUE METICAL
							113-NAMIBIA DOLLAR
							114-NEPALESE RUPEE
							115-NETHERLAND ANTILLIAN GUILDER
							116-NETHERLANDS GUILDER
							117-NEW DINAR
							118-NEW TAIWAN DOLLAR
							119-NEW ZEALAND DOLLAR
							120-NICARAGUAN CORDOBA ORO
							121-NIGERIAN NAIRA
							122-NORTH KOREAN WON
							123-NORWEGIAN KRONES
							124-PAKISTANI RUPEE
							125-PANAMAN BALBOA
							126-PARAGUAY GUARANI
							127-PARANGA
							128-PERUVIAN NUEVO SOL
							129-PESO
							130-PHILLIPINES PESOS
							131-POLISH ZLOTY
							132-PORTUGUESE ESCUDO
							133-POUND STERLING
							134-QATARI RIAL
							135-RAND
							136-RIAL OMANIS
							137-ROMANIAN LEU
							138-ROUBLE
							139-RWANDA FRANC
							140-SAUDI RIYAL
							141-SEYCHELLES RUPEE
							142-SINGAPORE DOLLAR
							143-SLOVAKI KORUNA
							144-SLOVENIAN TOLAR
							145-SOLOMAN ISLANDS DOLLAR
							146-SOMALI SHILLING
							147-SOUTH KOREAN WON
							148-SPANISH PESETA
							149-SRI LANKA RUPEE
							150-ST. HELENA POUND
							151-SUDANESE DINAR
							152-SURINAME GUILDER
							153-SWEDISH KRONA
							154-SWISS FRANC
							155-SYRIAN POUND
							156-TAJIK ROUBLE
							157-TALA
							158-TANZANIAN SCHILLING
							159-THAI BAHTS
							160-TIMOR ESCUDO
							161-TRINIDAD \u2013 TOBAGO DOLLAR
							162-TURKEMENI MANAT
							163-TURKISH LIRA
							164-TURNISIAN DINAR
							165-UAE DIRHAM
							166-UGANDA SHILLING
							167-US DOLLAR
							168-UZBEKISTAN SUM
							169-VATU
							170-VENEZUELAN BOLIVAR
							171-VIETNAM DONG
							172-YEMENI RIAL
							173-YUAN RENMINBI
							174-ZAIRE
							175-ZIMBABWE DOLLAR
							176-CFA FRANC
							99-OTHERS
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="75" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CurrencySecbDesc" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AmtPayForgnRem" type="Form15CA:positiveDecimalAmt"
					minOccurs="0" />
				<xs:element name="AmtPayIndRem" type="Form15CA:positiveDecimalAmt"
					minOccurs="0" />
				<xs:element name="TaxPayGrossSecb" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="Y|N"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RevPurCategory">
						<xs:annotation>
						<xs:documentation>
							RB-0.1-Capital Account
							RB-0.2-Foreign Direct Investments
							RB-0.3-Foreign Portfolio Investment
							RB-0.4-External Commercial Borrowings
							RB-0.5-Short term Loans
							RB-0.6-Banking Capital 
							RB-0.7-Financial Derivatives and Others
							RB-0.8-External Assistance
							RB-1.1-Imports
							RB-2.1-Transport
							RB-3.1-Travel
							RB-5.1-Construction Services
							RB-6.1-Insurance and Pension Services
							RB-7.1-Financial Services
							RB-8.1-Telecommunication, Computer \u2013 Information  Services
							RB-9.1-Charges for the use of intellectual property n.i.e
							RB-10.1-Other Business Services
							RB-11.1-Personal, Cultural \u2013 Recreational services
							RB-12.1-Govt. not included elsewhere (G.n.i.e.)
							RB-13.1-Secondary Income
							RB-14.1-Primary Income
							RB-15.1-Others
							RB-16.1-Maintenance and repair services n.i.e
							RB-17.1-Manufacturing services (goods for processing)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="7" />
							<xs:minLength value="6" />
							<xs:enumeration value="RB-0.1" />
							<xs:enumeration value="RB-0.2" />
							<xs:enumeration value="RB-0.3" />
							<xs:enumeration value="RB-0.4" />
							<xs:enumeration value="RB-0.5" />
							<xs:enumeration value="RB-0.6" />
							<xs:enumeration value="RB-0.7" />
							<xs:enumeration value="RB-0.8" />
							<xs:enumeration value="RB-1.1" />
							<xs:enumeration value="RB-2.1" />
							<xs:enumeration value="RB-3.1" />
							<xs:enumeration value="RB-5.1" />
							<xs:enumeration value="RB-6.1" />
							<xs:enumeration value="RB-7.1" />
							<xs:enumeration value="RB-8.1" />
							<xs:enumeration value="RB-9.1" />
							<xs:enumeration value="RB-10.1" />
							<xs:enumeration value="RB-11.1" />
							<xs:enumeration value="RB-12.1" />
							<xs:enumeration value="RB-13.1" />
							<xs:enumeration value="RB-14.1" />
							<xs:enumeration value="RB-15.1" />
							<xs:enumeration value="RB-16.1" />
							<xs:enumeration value="RB-17.1" />							
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RevPurCode">
						<xs:annotation>
						<xs:documentation>
							RB-0.1-S0017 - Acquisition of non-produced non-financial assets (Purchase of intangible assets like patents, copyrights, trademarks etc., land acquired by government, use of natural resources)
							RB-0.1-S0019 - Acquisition of non-produced non-financial assets (Purchase of intangible assets like patents, copyrights, trademarks etc., use of natural resources) \u2013 Non-Government
							RB-0.1-S0099 - Other capital payments not included elsewhere
							RB-0.1-S0026 - Capital transfers (Guarantees payments, Investment Grand given by the government/international organisation, exceptionally large Non-life insurance claims) \u2013 Government
							RB-0.1-S0027 - Capital transfers (Guarantees payments, Investment Grand given by the Non-government, exceptionally large Non-life insurance claims) \u2013Non-Government
							RB-0.2-S0003 - Indian Direct investment abroad (in branches \u2013 wholly owned subsidiaries) in equity Shares
							RB-0.2-S0004 - Indian Direct investment abroad (in subsidiaries and associates) in debt instruments
							RB-0.2-S0005 - Indian investment abroad \u2013 in real estate
							RB-0.2-S0006 - Repatriation of Foreign Direct Investment made by overseas Investors in India \u2013 in equity shares
							RB-0.2-S0007 - Repatriation of Foreign Direct Investment in made by overseas Investors India \u2013 in debt instruments
							RB-0.2-S0008 - Repatriation of Foreign Direct Investment made by overseas Investors in India \u2013 in real estate
							RB-0.3-S0001 - Indian Portfolio investment abroad \u2013in equity shares
							RB-0.3-S0002 - Indian Portfolio investment abroad \u2013in debt instruments
							RB-0.3-S0009 - Repatriation of Foreign Portfolio Investment made by overseas Investors in India \u2013 in equity shares
							RB-0.3-S0010 - Repatriation of Foreign Portfolio Investment made by overseas Investors in India \u2013 in debt instruments
							RB-0.4-S0011 - Loans extended to Non \u2013 Residents
							RB-0.4-S0012 - Repayment of long \u2013 medium term loans with original maturity above one year received from Non-Residents
							RB-0.5-S0013 - Repayment of short term loans with original maturity up to one year received from Non-Residents
							RB-0.6-S0014 - Repatriation of Non-Resident Deposits (FCNR(B)/NR(E)RA 
							RB-0.6-S0015 - Repayment of loans \u2013 overdrafts taken by ADs on their own 
							RB-0.6-S0016 - Sale of a foreign currency against another foreign currency 
							RB-0.7-S0020 - Payments made on account of margin payments, premium payment and settlement amount etc. under Financial derivative 
							RB-0.7-S0021 - Payments made on account of sale of share under Employee stock option
							RB-0.7-S0022 - Investment in Indian Depositories Receipts (IDRs)
							RB-0.7-S0023 - Opening of foreign currency account abroad with a bank 
							RB-0.8-S0024 - External Assistance extended by India. e.g. Loans and advances extended by India to Foreign governments under 
							RB-0.8-S0025 - Repayments made on account of External Assistance received by India
							RB-1.1-S0101 - Advance payment against imports made to countries other than Nepal and Bhutan
							RB-1.1-S0102 - Payment towards imports-settlement of invoice other than Nepal and Bhutan
							RB-1.1-S0103 - Imports by diplomatic missions other than Nepal and Bhutan
							RB-1.1-S0104 - Intermediary trade/transit trade, i.e., third country export passing through India
							RB-1.1-S0108 - Goods acquired under merchanting / Payment against import leg of merchanting trade*
							RB-1.1-S0109 - Payments made for Imports from Nepal and Bhutan, if any
							RB-2.1-S0201 - Payments for surplus freight/passenger fare by foreign shipping companies operating in India
							RB-2.1-S0202 - Payment for operating expenses of Indian shipping companies operating abroad
							RB-2.1-S0203 - Freight on imports \u2013Shipping companies
							RB-2.1-S0204 - Freight on exports \u2013Shipping companies
							RB-2.1-S0205 - Operational leasing/Rental of Vessels (with crew) \u2013Shipping companies
							RB-2.1-S0206 - Booking of passages abroad\u2013Shipping companies
							RB-2.1-S0207 - Payments for surplus freight/passenger fare by foreign Airlines companies operating in India
							RB-2.1-S0208 - Operating expenses of Indian Airlines companies operating 
							RB-2.1-S0209 - Freight on imports \u2013Airlines companies
							RB-2.1-S0210 - Freight on exports \u2013Airlines companies
							RB-2.1-S0211 - Operational leasing / Rental of Vessels (with crew) \u2013Airline companies
							RB-2.1-S0212 - Booking of passages abroad \u2013Airlines companies
							RB-2.1-S0214 - Payments on account of stevedoring, demurrage, port handling charges etc.(Shipping companies)
							RB-2.1-S0215 - Payments on account of stevedoring, demurrage, port handling charges, etc.(Airlines companies)
							RB-2.1-S0216 - Payments for Passenger -Shipping companies
							RB-2.1-S0217 - Other payments by Shipping companies
							RB-2.1-S0218 - Payments for Passenger -Airlines companies
							RB-2.1-S0219 - Other Payments by Airlines companies
							RB-2.1-S0220 - Payments on account of freight under other modes of transport (Internal Waterways, Roadways, Railways, Pipeline transports and others)
							RB-2.1-S0221 - Payments on account of passenger fare under other modes of transport (Internal Waterways, Roadways, Railways, Pipeline transports and others)
							RB-2.1-S0222 - Postal \u2013 Courier services by Air
							RB-2.1-S0223 - Postal \u2013 Courier services by Sea
							RB-2.1-S0224 - Postal \u2013 Courier services by others
							RB-3.1-S0301 - Business travel.
							RB-3.1-S0303 - Travel for pilgrimage
							RB-3.1-S0304 - Travel for medical treatment
							RB-3.1-S0305 - Travel for education (including fees, hostel expenses etc.)
							RB-3.1-S0306 - Other travel (including holiday trips and payments for settling international credit cards transactions)
							RB-5.1-S0501 - Construction of projects abroad by Indian companies including import of goods at project site abroad
							RB-5.1-S0502 - cost of construction etc. of projects executed by foreign companies in India.
							RB-6.1-S0601 - Life Insurance premium except term insurance
							RB-6.1-S0602 - Freight insurance \u2013relating to import and export of goods
							RB-6.1-S0603 - Other general insurance premium including reinsurance premium; and term life insurance premium
							RB-6.1-S0605 - Auxiliary services including commission on insurance
							RB-6.1-S0607 - Insurance claim Settlement of non-life  insurance; and life insurance (only term insurance)
							RB-6.1-S0608 - Life Insurance Claim Settlements
							RB-6.1-S0609 - Standardised guarantee services
							RB-6.1-S0610 - Premium for pension funds
							RB-6.1-S0611 - Periodic pension entitlements e.g. monthly quarterly or yearly payments of pension amounts by Indian Pension Fund 
							RB-6.1-S0612 - Invoking of standardised guarantees
							RB-7.1-S0701 - Financial intermediation, except investment banking -Bank charges, collection charges, LC charges etc.
							RB-7.1-S0702 - Investment banking \u2013brokerage, under writing commission 
							RB-7.1-S0703 - Auxiliary services \u2013charges on operation \u2013 regulatory fees, custodial services, depository services etc.
							RB-8.1-S0801 - Hardware consultancy/implementation
							RB-8.1-S0802 - Software consultancy / implementation
							RB-8.1-S0803 - Data base, data processing charges
							RB-8.1-S0804 - Repair and maintenance of computer and software
							RB-8.1-S0805 - News agency services
							RB-8.1-S0806 - Other information services-Subscription to newspapers, 
							RB-8.1-S0807 - Off-site software imports
							RB-8.1-S0808 - Telecommunication services including electronic mail services and voice mail services 
							RB-8.1-S0809 - Satellite services including space shuttle and rockets etc.
							RB-9.1-S0901 - Franchises services
							RB-9.1-S0902 - Payment for use, through licensing arrangements, of produced originals or prototypes (such as manuscripts and films), patents, copyrights, trademarks and industrial processes etc.
							RB-10.1-S1002 - Trade related services \u2013commission on exports / imports
							RB-10.1-S1003 - Operational leasing services (other than financial leasing) without operating crew, including charter hire- Airlines companies
							RB-10.1-S1004 - Legal services
							RB-10.1-S1005 - Accounting, auditing, book-keeping services
							RB-10.1-S1006 - Business and management consultancy and public relations 
							RB-10.1-S1007 - Advertising, trade fair service
							RB-10.1-S1008 - Research \u2013 Development services
							RB-10.1-S1009 - Architectural services
							RB-10.1-S1010 - Agricultural services like protection against insects \u2013 disease, increasing of harvest yields, forestry services.
							RB-10.1-S1011 - Payments for maintenance of offices abroad
							RB-10.1-S1013 - Environmental Services
							RB-10.1-S1014 - Engineering Services
							RB-10.1-S1015 - Tax consulting services
							RB-10.1-S1016 - Market research and public opinion polling service
							RB-10.1-S1017 - Publishing and printing services
							RB-10.1-S1018 - Mining services like on \u2013site processing services analysis of ores etc.
							RB-10.1-S1020 - Commission agent services 
							RB-10.1-S1021 - Wholesale and retailing trade services.
							RB-10.1-S1022 - Operational leasing services (other than financial leasing) without operating crew, including charter hire- Shipping companies
							RB-10.1-S1023 - Other Technical Services including scientific/space services.
							RB-10.1-S1099 - Other services not included elsewhere
							RB-11.1-S1104 - Entertainment services
							RB-11.1-S1101 - Audio-visual and related services like Motion picture and video tape production, distribution and projection services.
							RB-11.1-S1103 - Radio and television production, distribution and transmission services 
							RB-11.1-S1105 - Museums, library and archival services
							RB-11.1-S1106 - Recreation and sporting activities services
							RB-11.1-S1107 - Education (e.g. fees for correspondence courses abroad)
							RB-11.1-S1108 - Health Service (payment towards services received from hospitals, doctors, nurses, paramedical and similar services etc. rendered remotely or on-site)
							RB-11.1-S1109 - Other Personal, Cultural \u2013 Recreational services
							RB-12.1-S1201 - Maintenance of Indian embassies abroad
							RB-12.1-S1202 - Remittances by foreign embassies in India
							RB-13.1-S1301 - Remittance for family maintenance and savings
							RB-13.1-S1302 - Remittance towards personal gifts and donations
							RB-13.1-S1303 - Remittance towards donations to religious and charitable institutions abroad
							RB-13.1-S1304 - Remittance towards grants and donations to other governments and charitable institutions established by the 
							RB-13.1-S1305 - Contributions/donations by the Government to international institutions
							RB-13.1-S1306 - Remittance towards payment / refund of taxes.
							RB-13.1-S1307 - Outflows on account of migrant transfers including personal
							RB-14.1-S1401 - Compensation of employees
							RB-14.1-S1402 - Remittance towards interest on Non-Resident deposits (FCNR(B)/NR(E)RA, etc.)
							RB-14.1-S1403 - Remittance towards interest on loans from Non-Residents (ST/MT/LT loans) e.g. External Commercial Borrowings,Trade Credits, etc.
							RB-14.1-S1405 - Remittance towards interest payment by ADs on their own account (to VOSTRO a/c holders or the OD on NOSTRO a/c.)
							RB-14.1-S1408 - Remittance of profit by FDI enterprises in India (by branches of foreign companies including bank branches)
							RB-14.1-S1409 - Remittance of dividends by FDI enterprises in India (other than branches) on equity and investment fund shares
							RB-14.1-S1410 - Payment of interest by FDI enterprises in India to their Parent company abroad.
							RB-14.1-S1411 - Remittance of interest income on account of Portfolio Investment in India
							RB-14.1-S1412 - Remittance of dividends on account of Portfolio Investment in India on equity and investment fund shares
							RB-15.1-S1501 - Refunds / rebates / reduction in invoice value on account of
							RB-15.1-S1502 - Reversal of wrong entries, refunds of amount remitted for non-Exports
							RB-15.1-S1503 - Payments by residents for international bidding
							RB-15.1-S1504 - Notional sales when export bills negotiated/ purchased/ discounted are dishonored/ crystallised/ cancelled and reversed from suspense account
							RB-15.1-S1505 - Deemed Imports (exports between SEZ, EPZs and Domestic tariff areas)
							RB-16.1-S1601 - Payments on account of maintenance and repair services rendered for Vessels, ships, boats, warships, etc.
							RB-16.1-S1602 - Payments on account of maintenance and repair services rendered for aircrafts, space shuttles, rockets, military aircrafts, 
							RB-17.1-S1701 - Payments for processing of goods
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="13" />
							<xs:minLength value="12" />
							<xs:enumeration value="RB-0.1-S0017" />
							<xs:enumeration value="RB-0.1-S0019" />
							<xs:enumeration value="RB-0.1-S0099" />
							<xs:enumeration value="RB-0.1-S0026" />
							<xs:enumeration value="RB-0.1-S0027" />
							<xs:enumeration value="RB-0.2-S0003" />
							<xs:enumeration value="RB-0.2-S0004" />
							<xs:enumeration value="RB-0.2-S0005" />
							<xs:enumeration value="RB-0.2-S0006" />
							<xs:enumeration value="RB-0.2-S0007" />
							<xs:enumeration value="RB-0.2-S0008" />
							<xs:enumeration value="RB-0.3-S0001" />
							<xs:enumeration value="RB-0.3-S0002" />
							<xs:enumeration value="RB-0.3-S0009" />
							<xs:enumeration value="RB-0.3-S0010" />
							<xs:enumeration value="RB-0.4-S0011" />
							<xs:enumeration value="RB-0.4-S0012" />
							<xs:enumeration value="RB-0.5-S0013" />
							<xs:enumeration value="RB-0.6-S0014" />
							<xs:enumeration value="RB-0.6-S0015" />
							<xs:enumeration value="RB-0.6-S0016" />
							<xs:enumeration value="RB-0.7-S0020" />
							<xs:enumeration value="RB-0.7-S0021" />
							<xs:enumeration value="RB-0.7-S0022" />
							<xs:enumeration value="RB-0.7-S0023" />
							<xs:enumeration value="RB-0.8-S0024" />
							<xs:enumeration value="RB-0.8-S0025" />
							<xs:enumeration value="RB-1.1-S0101" />
							<xs:enumeration value="RB-1.1-S0102" />
							<xs:enumeration value="RB-1.1-S0103" />
							<xs:enumeration value="RB-1.1-S0104" />
							<xs:enumeration value="RB-1.1-S0108" />
							<xs:enumeration value="RB-1.1-S0109" />
							<xs:enumeration value="RB-2.1-S0201" />
							<xs:enumeration value="RB-2.1-S0202" />
							<xs:enumeration value="RB-2.1-S0203" />
							<xs:enumeration value="RB-2.1-S0204" />
							<xs:enumeration value="RB-2.1-S0205" />
							<xs:enumeration value="RB-2.1-S0206" />
							<xs:enumeration value="RB-2.1-S0207" />
							<xs:enumeration value="RB-2.1-S0208" />
							<xs:enumeration value="RB-2.1-S0209" />
							<xs:enumeration value="RB-2.1-S0210" />
							<xs:enumeration value="RB-2.1-S0211" />
							<xs:enumeration value="RB-2.1-S0212" />
							<xs:enumeration value="RB-2.1-S0214" />
							<xs:enumeration value="RB-2.1-S0215" />
							<xs:enumeration value="RB-2.1-S0216" />
							<xs:enumeration value="RB-2.1-S0217" />
							<xs:enumeration value="RB-2.1-S0218" />
							<xs:enumeration value="RB-2.1-S0219" />
							<xs:enumeration value="RB-2.1-S0220" />
							<xs:enumeration value="RB-2.1-S0221" />
							<xs:enumeration value="RB-2.1-S0222" />
							<xs:enumeration value="RB-2.1-S0223" />
							<xs:enumeration value="RB-2.1-S0224" />
							<xs:enumeration value="RB-3.1-S0301" />
							<xs:enumeration value="RB-3.1-S0303" />
							<xs:enumeration value="RB-3.1-S0304" />
							<xs:enumeration value="RB-3.1-S0305" />
							<xs:enumeration value="RB-3.1-S0306" />
							<xs:enumeration value="RB-5.1-S0501" />
							<xs:enumeration value="RB-5.1-S0502" />
							<xs:enumeration value="RB-6.1-S0601" />
							<xs:enumeration value="RB-6.1-S0602" />
							<xs:enumeration value="RB-6.1-S0603" />
							<xs:enumeration value="RB-6.1-S0605" />
							<xs:enumeration value="RB-6.1-S0607" />
							<xs:enumeration value="RB-6.1-S0608" />
							<xs:enumeration value="RB-6.1-S0609" />
							<xs:enumeration value="RB-6.1-S0610" />
							<xs:enumeration value="RB-6.1-S0611" />
							<xs:enumeration value="RB-6.1-S0612" />
							<xs:enumeration value="RB-7.1-S0701" />
							<xs:enumeration value="RB-7.1-S0702" />
							<xs:enumeration value="RB-7.1-S0703" />
							<xs:enumeration value="RB-8.1-S0801" />
							<xs:enumeration value="RB-8.1-S0802" />
							<xs:enumeration value="RB-8.1-S0803" />
							<xs:enumeration value="RB-8.1-S0804" />
							<xs:enumeration value="RB-8.1-S0805" />
							<xs:enumeration value="RB-8.1-S0806" />
							<xs:enumeration value="RB-8.1-S0807" />
							<xs:enumeration value="RB-8.1-S0808" />
							<xs:enumeration value="RB-8.1-S0809" />
							<xs:enumeration value="RB-9.1-S0901" />
							<xs:enumeration value="RB-9.1-S0902" />
							<xs:enumeration value="RB-10.1-S1002" />
							<xs:enumeration value="RB-10.1-S1003" />
							<xs:enumeration value="RB-10.1-S1004" />
							<xs:enumeration value="RB-10.1-S1005" />
							<xs:enumeration value="RB-10.1-S1006" />
							<xs:enumeration value="RB-10.1-S1007" />
							<xs:enumeration value="RB-10.1-S1008" />
							<xs:enumeration value="RB-10.1-S1009" />
							<xs:enumeration value="RB-10.1-S1010" />
							<xs:enumeration value="RB-10.1-S1011" />
							<xs:enumeration value="RB-10.1-S1013" />
							<xs:enumeration value="RB-10.1-S1014" />
							<xs:enumeration value="RB-10.1-S1015" />
							<xs:enumeration value="RB-10.1-S1016" />
							<xs:enumeration value="RB-10.1-S1017" />
							<xs:enumeration value="RB-10.1-S1018" />
							<xs:enumeration value="RB-10.1-S1020" />
							<xs:enumeration value="RB-10.1-S1021" />
							<xs:enumeration value="RB-10.1-S1022" />
							<xs:enumeration value="RB-10.1-S1023" />
							<xs:enumeration value="RB-10.1-S1099" />
							<xs:enumeration value="RB-11.1-S1104" />
							<xs:enumeration value="RB-11.1-S1101" />
							<xs:enumeration value="RB-11.1-S1103" />
							<xs:enumeration value="RB-11.1-S1105" />
							<xs:enumeration value="RB-11.1-S1106" />
							<xs:enumeration value="RB-11.1-S1107" />
							<xs:enumeration value="RB-11.1-S1108" />
							<xs:enumeration value="RB-11.1-S1109" />
							<xs:enumeration value="RB-12.1-S1201" />
							<xs:enumeration value="RB-12.1-S1202" />
							<xs:enumeration value="RB-13.1-S1301" />
							<xs:enumeration value="RB-13.1-S1302" />
							<xs:enumeration value="RB-13.1-S1303" />
							<xs:enumeration value="RB-13.1-S1304" />
							<xs:enumeration value="RB-13.1-S1305" />
							<xs:enumeration value="RB-13.1-S1306" />
							<xs:enumeration value="RB-13.1-S1307" />
							<xs:enumeration value="RB-14.1-S1401" />
							<xs:enumeration value="RB-14.1-S1402" />
							<xs:enumeration value="RB-14.1-S1403" />
							<xs:enumeration value="RB-14.1-S1405" />
							<xs:enumeration value="RB-14.1-S1408" />
							<xs:enumeration value="RB-14.1-S1409" />
							<xs:enumeration value="RB-14.1-S1410" />
							<xs:enumeration value="RB-14.1-S1411" />
							<xs:enumeration value="RB-14.1-S1412" />
							<xs:enumeration value="RB-15.1-S1501" />
							<xs:enumeration value="RB-15.1-S1502" />
							<xs:enumeration value="RB-15.1-S1503" />
							<xs:enumeration value="RB-15.1-S1504" />
							<xs:enumeration value="RB-15.1-S1505" />
							<xs:enumeration value="RB-16.1-S1601" />
							<xs:enumeration value="RB-16.1-S1602" />
							<xs:enumeration value="RB-17.1-S1701" />													
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RateOfDed" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="100" />
							<xs:fractionDigits value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RateofTDS" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="100" />
							<xs:fractionDigits value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CountryRemMadeRecipient" minOccurs="0">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AcctntDetls">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NameAcctnt" type="Form15CA:nameType"
					minOccurs="0" />
				<xs:element name="NameFirmAcctnt" type="Form15CA:nameType"
					minOccurs="0" />
				<xs:element name="AcctntAddrs" type="Form15CA:acntntAddressType"
					minOccurs="0" />
				<xs:element name="MembershipNumber" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{6}"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
				</xs:element>
				<xs:element name="CertDate" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:date" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="CertNumber" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="15" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="AoOrderDetls">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrderAoFlg" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="Y|N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CertSection" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="15" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NameAo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DesgAo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="OrderDateAo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:date">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OrderNumAo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="10" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ItActDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SecRemCovered" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="30" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AmtIncChrgIt" minOccurs="0" type="Form15CA:positiveDecimalAmt"/>
				<xs:element name="TaxLiablIt" minOccurs="0" type="Form15CA:positiveDecimalAmt"/>
				<xs:element name="BasisDeterTax" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DTAADetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TaxResidCert">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="Y|N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RelevantDtaa" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="30" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RelevantArtDtaa" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TaxIncDtaa" type="Form15CA:positiveDecimalAmt"
					minOccurs="0" />
				<xs:element name="TaxLiablDtaa" type="Form15CA:positiveDecimalAmt"
					minOccurs="0" />

				<xs:element name="RemForRoyFlg">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="Y|N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ArtDtaa" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RateTdsADtaa" type="Form15CA:percentage"
					minOccurs="0" />
				<xs:element name="RemAcctBusIncFlg">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="Y|N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IncLiabIndiaFlg" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="Y|N|-1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AmtToTaxInd" type="Form15CA:positiveDecimalAmt"
					minOccurs="0" />
				<xs:element name="ArrAtRateDedTax" minOccurs="0" />

				<xs:element name="ReasonofReleventArtDtaa" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>

				<xs:element name="RateDednDtaa" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RemOnCapGainFlg">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="Y|N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AmtLongTrm" type="Form15CA:positiveDecimalAmt"
					minOccurs="0" />
				<xs:element name="AmtShortTrm" type="Form15CA:positiveDecimalAmt"
					minOccurs="0" />
				<xs:element name="BasisTaxIncDtaa" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OtherRemDtaa">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="Y|N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NatureRemDtaa" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TaxIndDtaaFlg" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="Y|N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RateTdsDDtaa" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RelArtDetlDDtaa" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
							<xs:maxLength value="125" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>


			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TDSDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AmtPayForgnTds" type="Form15CA:positiveDecimalAmt" />
				<xs:element name="AmtPayIndianTds" type="Form15CA:positiveDecimalAmt" />
				<xs:element name="RateTdsSecbFlg" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="1|2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RateTdsSecB" type="Form15CA:percentage" minOccurs="0"/>
				<xs:element name="ActlAmtTdsForgn" type="Form15CA:positiveDecimalAmt" minOccurs="0"/>
				<xs:element name="DednDateTds" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:date" />
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="Declaration" type="Form15CA:declaration" />



	<xs:complexType name="declaration">
		<xs:sequence>
			<xs:element name="LandlordName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="125" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StyledName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="125" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="I_We">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="1|2"></xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VerificationDate">
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="VerDesignation">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VerificationPlace">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1" />
						<xs:maxLength value="35" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="acntntAddressType">
		<xs:sequence>
			<xs:element name="PremisesBuildingVillage" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:minLength value="0" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TownCityDistrict" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FlatDoorBuilding" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreaLocality" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Pincode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{6}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Form:State" minOccurs="0" />
			<xs:element name="RoadStreet" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:minLength value="0" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" type="Form:countryType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element name="PremisesBuildingVillage" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:minLength value="0" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TownCityDistrict">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FlatDoorBuilding">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AreaLocality">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Pincode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{6}" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ZipCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8" />
						<xs:minLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Form:State" />
			<xs:element name="RoadStreet" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50" />
						<xs:minLength value="0" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" type="Form:countryType" />
		</xs:sequence>


	</xs:complexType>

	<xs:simpleType name="nameType">
		<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
			<xs:maxLength value="125" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="panType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{5}[0-9]{4}[A-Z]{1}" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="panTypeDefault">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{5}[0-9]{4}[A-Z]{1}|(PANNOTAVBL)" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tanType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{4}[0-9]{5}[a-zA-Z]{1}|TANNOTAVBL" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tanAckType">
		<xs:restriction base="Form15CA:nonEmptyStringOnlyCaps">
			<xs:maxLength value="14" />
			<xs:minLength value="10" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="emailType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="125" />
			<xs:pattern
				value="([\.a-zA-Z0-9_\-])+@([a-zA-Z0-9_\-])+(([a-zA-Z0-9_\-])*\.([a-zA-Z0-9_\-])+)+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phoneType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10" />
			<xs:pattern value="[0-9]{10}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="positiveIntegralAmt">
		<xs:restriction base="xs:unsignedLong">
			<xs:totalDigits value="14" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positiveDecimalAmt">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2" />
			<xs:maxInclusive value="99999999999999" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="percentage">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2" />
			<xs:maxInclusive value="100" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonEmptyStringOnlyCaps">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="|(\s*([\p{Lu}\d_=!@#$%\^*\(\){}\[\]\|\\:;',\.\?/~`\-\+&lt;&gt;&amp;&quot;][\s\p{Lu}\d_=!@#$%\^*\(\){}\[\]\|\\:;',\.\?/~`\-\+&lt;&gt;&amp;&quot;]*)\s*)"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="|(\s*([\w\d_=!@#$%\^*\(\){}\[\]\|\\:;',\.\?/~`\-\+&lt;&gt;&amp;&quot;][\s\w\d_=!@#$%\^*\(\){}\[\]\|\\:;',\.\?/~`\-\+&lt;&gt;&amp;&quot;]*)\s*)"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="currencySecbCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
			<xs:enumeration value="5" />
			<xs:enumeration value="6" />
			<xs:enumeration value="7" />
			<xs:enumeration value="8" />
			<xs:enumeration value="9" />
			<xs:enumeration value="10" />
			<xs:enumeration value="11" />
			<xs:enumeration value="12" />
			<xs:enumeration value="13" />
			<xs:enumeration value="14" />
			<xs:enumeration value="15" />
			<xs:enumeration value="16" />
			<xs:enumeration value="17" />
			<xs:enumeration value="18" />
			<xs:enumeration value="19" />
			<xs:enumeration value="20" />
			<xs:enumeration value="21" />
			<xs:enumeration value="22" />
			<xs:enumeration value="23" />
			<xs:enumeration value="24" />
			<xs:enumeration value="25" />
			<xs:enumeration value="26" />
			<xs:enumeration value="27" />
			<xs:enumeration value="28" />
			<xs:enumeration value="29" />
			<xs:enumeration value="30" />
			<xs:enumeration value="31" />
			<xs:enumeration value="32" />
			<xs:enumeration value="33" />
			<xs:enumeration value="34" />
			<xs:enumeration value="35" />
			<xs:enumeration value="36" />
			<xs:enumeration value="37" />
			<xs:enumeration value="38" />
			<xs:enumeration value="39" />
			<xs:enumeration value="40" />
			<xs:enumeration value="41" />
			<xs:enumeration value="42" />
			<xs:enumeration value="43" />
			<xs:enumeration value="44" />
			<xs:enumeration value="45" />
			<xs:enumeration value="46" />
			<xs:enumeration value="47" />
			<xs:enumeration value="48" />
			<xs:enumeration value="49" />
			<xs:enumeration value="50" />
			<xs:enumeration value="51" />
			<xs:enumeration value="52" />
			<xs:enumeration value="53" />
			<xs:enumeration value="54" />
			<xs:enumeration value="55" />
			<xs:enumeration value="56" />
			<xs:enumeration value="57" />
			<xs:enumeration value="58" />
			<xs:enumeration value="59" />
			<xs:enumeration value="60" />
			<xs:enumeration value="61" />
			<xs:enumeration value="62" />
			<xs:enumeration value="63" />
			<xs:enumeration value="64" />
			<xs:enumeration value="65" />
			<xs:enumeration value="66" />
			<xs:enumeration value="67" />
			<xs:enumeration value="68" />
			<xs:enumeration value="69" />
			<xs:enumeration value="70" />
			<xs:enumeration value="71" />
			<xs:enumeration value="72" />
			<xs:enumeration value="73" />
			<xs:enumeration value="74" />
			<xs:enumeration value="75" />
			<xs:enumeration value="76" />
			<xs:enumeration value="77" />
			<xs:enumeration value="78" />
			<xs:enumeration value="79" />
			<xs:enumeration value="80" />
			<xs:enumeration value="81" />
			<xs:enumeration value="82" />
			<xs:enumeration value="83" />
			<xs:enumeration value="84" />
			<xs:enumeration value="85" />
			<xs:enumeration value="86" />
			<xs:enumeration value="87" />
			<xs:enumeration value="88" />
			<xs:enumeration value="89" />
			<xs:enumeration value="90" />
			<xs:enumeration value="91" />
			<xs:enumeration value="92" />
			<xs:enumeration value="93" />
			<xs:enumeration value="94" />
			<xs:enumeration value="95" />
			<xs:enumeration value="96" />
			<xs:enumeration value="97" />
			<xs:enumeration value="98" />
			<xs:enumeration value="99" />
			<xs:enumeration value="100" />
			<xs:enumeration value="101" />
			<xs:enumeration value="102" />
			<xs:enumeration value="103" />
			<xs:enumeration value="104" />
			<xs:enumeration value="105" />
			<xs:enumeration value="106" />
			<xs:enumeration value="107" />
			<xs:enumeration value="108" />
			<xs:enumeration value="109" />
			<xs:enumeration value="110" />
			<xs:enumeration value="111" />
			<xs:enumeration value="112" />
			<xs:enumeration value="113" />
			<xs:enumeration value="114" />
			<xs:enumeration value="115" />
			<xs:enumeration value="116" />
			<xs:enumeration value="117" />
			<xs:enumeration value="118" />
			<xs:enumeration value="119" />
			<xs:enumeration value="120" />
			<xs:enumeration value="121" />
			<xs:enumeration value="122" />
			<xs:enumeration value="123" />
			<xs:enumeration value="124" />
			<xs:enumeration value="125" />
			<xs:enumeration value="126" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>