Code Reference/tds-returns/src/main/resources/xsd/Form15G.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://incometaxindiaefiling.gov.in/FORM15G"
	xmlns:Form="http://incometaxindiaefiling.gov.in/common" xmlns:FORM15G="http://incometaxindiaefiling.gov.in/FORM15G"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xs:import namespace="http://incometaxindiaefiling.gov.in/common" schemaLocation="./Common15G.xsd" />

	<xs:element name="FORM15G">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="FormCreationInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Form:CreationInfo" />
						<xs:element ref="Form:Form_Details" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
				<xs:element ref="FORM15G:Form15GDtls" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Form15GDtls">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TAN">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[A-Z]{4}[0-9]{5}[A-Z]"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Quarter">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Q1" />
							<xs:enumeration value="Q2" />
							<xs:enumeration value="Q3" />
							<xs:enumeration value="Q4" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FinancialYr">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[0-9]{4}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FilingType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="O" />
							<xs:enumeration value="C" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AcknowledgeNumber" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15" />
							<xs:pattern value="[0-9]{15}|" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Part1Dtls">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="FORM15G:Part1" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Part1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FORM15G:Basicdtls" />
				<xs:element name="IncomeDtls">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="FORM15G:IncomeDtl" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Basicdtls">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AssesseeName">
					<xs:simpleType>
						<xs:restriction base="FORM15G:nonEmptyString">
							<xs:minLength value="1" />
							<xs:maxLength value="125" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AssesseePAN">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="10" />
							<xs:pattern value="[A-Z]{5}[0-9]{4}[A-Z]"></xs:pattern>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Status">
					<xs:annotation>
						<xs:documentation>
							1:INDIVIDUAL,
							2:HUF,
							3:AOP_BOI,
							4:TRUST,
							5:LOCAL_AUTHORITY,
							6:ART_JUR_PERSON,
							7:CO_OPERATIVE_SOCIETY,
							8:CO_OPERATIVE_BANK,
							9:PRIVATE_DIS_TRUST.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="1" />
							<xs:enumeration value="2" />
							<xs:enumeration value="3" />
							<xs:enumeration value="4" />
							<xs:enumeration value="5" />
							<xs:enumeration value="6" />
							<xs:enumeration value="7" />
							<xs:enumeration value="8" />
							<xs:enumeration value="9" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ResidentialStatus">
					<xs:annotation>
						<xs:documentation>
							RES:Resident,
							NRI:Non Resident,
							NOR:Resident but
							not Ordinarily resident
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="RES" />
							<xs:enumeration value="NRI" />
							<xs:enumeration value="NOR" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PreviousYr">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="2010" />
							<xs:enumeration value="2011" />
							<xs:enumeration value="2012" />
							<xs:enumeration value="2013" />
							<xs:enumeration value="2014" />
							<xs:enumeration value="2015" />
							<xs:enumeration value="2016" />
							<xs:enumeration value="2017" />
							<xs:enumeration value="2018" />
							<xs:enumeration value="2019" />
							<xs:enumeration value="2020" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FlatDoorNo">
					<xs:simpleType>
						<xs:restriction base="FORM15G:nonEmptyString">
							<xs:maxLength value="50" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PremisesName" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="FORM15G:nonEmptyString">
							<xs:minLength value="0" />
							<xs:maxLength value="50" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RoadOrStreet" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="FORM15G:nonEmptyString">
							<xs:maxLength value="50" />
							<xs:minLength value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LocalityOrArea">
					<xs:simpleType>
						<xs:restriction base="FORM15G:nonEmptyString">
							<xs:maxLength value="50" />
							<xs:minLength value="1" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CityOrTownOrDistrict">
					<xs:simpleType>
						<xs:restriction base="FORM15G:nonEmptyString">
							<xs:minLength value="1" />
							<xs:maxLength value="50" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="StateCode">
					<xs:annotation>
						<xs:documentation>
							01-Andaman and Nicobar islands,
							02-Andhra Pradesh,
							03-Arunachal Pradesh,
							04-Assam,
							05-Bihar,
							06-Chandigarh,
							07-Dadra Nagar and Haveli,
							08-Daman and Diu,
							09- Delhi,
							10- Goa,
							11-Gujarat,
							12- Haryana,
							13- Himachal Pradesh,
							14-Jammu and Kashmir,
							15- Karnataka,
							16- Kerala,
							17- Lakshadweep,
							18-Madhya Pradesh,
							19-Maharashtra,
							20-Manipur,
							21-meghalaya,
							22-Mizoram,
							23-Nagaland,
							24- Orissa,
							25- Pondicherry,
							26- Punjab,
							27-Rajasthan,
							28- Sikkim,
							29-Tamil Nadu,
							30- Tripura,
							31-Uttar Pradesh,
							32- West Bengal,
							33- Chattisgarh,
							34- Uttarakhand,
							35- Jharkhand,
							36- Telangana,
							37- Ladakh,
							99- Foreign.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="2" />
							<xs:minLength value="1" />
							<xs:enumeration value="01" />
							<xs:enumeration value="02" />
							<xs:enumeration value="03" />
							<xs:enumeration value="04" />
							<xs:enumeration value="05" />
							<xs:enumeration value="06" />
							<xs:enumeration value="07" />
							<xs:enumeration value="08" />
							<xs:enumeration value="09" />
							<xs:enumeration value="10" />
							<xs:enumeration value="11" />
							<xs:enumeration value="12" />
							<xs:enumeration value="13" />
							<xs:enumeration value="14" />
							<xs:enumeration value="15" />
							<xs:enumeration value="16" />
							<xs:enumeration value="17" />
							<xs:enumeration value="18" />
							<xs:enumeration value="19" />
							<xs:enumeration value="20" />
							<xs:enumeration value="21" />
							<xs:enumeration value="22" />
							<xs:enumeration value="23" />
							<xs:enumeration value="24" />
							<xs:enumeration value="25" />
							<xs:enumeration value="26" />
							<xs:enumeration value="27" />
							<xs:enumeration value="28" />
							<xs:enumeration value="29" />
							<xs:enumeration value="30" />
							<xs:enumeration value="31" />
							<xs:enumeration value="32" />
							<xs:enumeration value="33" />
							<xs:enumeration value="34" />
							<xs:enumeration value="35" />
							<xs:enumeration value="36" />
							<xs:enumeration value="37" />
							<xs:enumeration value="99" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PinCode">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[1-9]{1}[0-9]{5}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EmailAddress" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="FORM15G:nonEmptyString">
							<xs:maxLength value="125" />
							<xs:pattern
								value="|([\.a-zA-Z0-9_\-])+@([a-zA-Z0-9_\-])+(([a-zA-Z0-9_\-])*\.([a-zA-Z0-9_\-])+)+" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="STDcode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:pattern value="[1-9]{1}[0-9]{0,4}|" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PhoneNo" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:normalizedString">
							<xs:pattern value="[1-9]{1}[0-9]{0,9}|" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MobileNo">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[1-9]{1}[0-9]{9}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TaxAssessedFlag">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Y" />
							<xs:enumeration value="N" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LatestAsstYr" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="" />
							<xs:enumeration value="2009" />
							<xs:enumeration value="2010" />
							<xs:enumeration value="2011" />
							<xs:enumeration value="2012" />
							<xs:enumeration value="2013" />
							<xs:enumeration value="2014" />
							<xs:enumeration value="2015" />
							<xs:enumeration value="2016" />
							<xs:enumeration value="2017" />
							<xs:enumeration value="2018" />
							<xs:enumeration value="2019" />
							<xs:enumeration value="2020" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EstimatedInc">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="EstimatedTotalIncPrvYr">
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:totalDigits value="15" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:sequence minOccurs="0">
					<xs:element name="TotalNoOfForm15g">
						<xs:simpleType>
							<xs:restriction base="xs:unsignedLong">
								<xs:totalDigits value="4" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="AggregateAmtForm15g">
						<xs:simpleType>
							<xs:restriction base="xs:unsignedLong">
								<xs:totalDigits value="14" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
				<xs:element name="UniqueIdNumber">
					<xs:simpleType>
						<xs:restriction base="FORM15G:nonEmptyString">
							<xs:length value="26" />
							<xs:pattern value="[G][0-9]{9}[0-9]{6}[A-Z]{4}[0-9]{5}[A-Z]" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DeclarationDate">
					<xs:simpleType>
						<xs:restriction base="xs:date">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AmtOfIncPaid">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DateIncPaid">
					<xs:simpleType>
						<xs:restriction base="xs:date">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="RecordType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							A:Addition,
							D:Deletion,
							U:Update
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="" />
							<xs:enumeration value="A" />
							<xs:enumeration value="D" />
							<xs:enumeration value="U" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IncomeDtl">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SrlNo">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedInt">
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IdenficationNum">
					<xs:simpleType>
						<xs:restriction base="FORM15G:nonEmptyString">
							<xs:minLength value="1" />
							<xs:maxLength value="125" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="NatureOfInc">
					<xs:simpleType>
						<xs:restriction base="FORM15G:nonEmptyString">
							<xs:minLength value="1" />
							<xs:maxLength value="125" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="DeductSection">
					<xs:annotation>
						<xs:documentation>
							192A:Payment of accumulated balance due to an employee,
							193:Interest on securities,
							194:Dividends,
							194A: Interest other than Interest on securities,
							194D: Insurance Commission
							194DA: Payment in respect of life insurance policy,
							194EE:Payments in respect of deposits under National Savings Scheme, etc
							194I: Rent
							194K: Income in respect of units
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="192A" />
							<xs:enumeration value="193" />
							<xs:enumeration value="194" />
							<xs:enumeration value="194A" />
							<xs:enumeration value="194D" />
							<xs:enumeration value="194DA" />
							<xs:enumeration value="194EE" />
							<xs:enumeration value="194I" />
							<xs:enumeration value="194K" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AmtOfInc">
					<xs:simpleType>
						<xs:restriction base="xs:unsignedLong">
							<xs:totalDigits value="14" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="|(\s*([\w\d_=!@#$%\^*\(\){}\[\]\|\\:;',\.\?/~`\-\+&lt;&gt;&amp;&quot;][\s\w\d_=!@#$%\^*\(\){}\[\]\|\\:;',\.\?/~`\-\+&lt;&gt;&amp;&quot;]*)\s*)"></xs:pattern>
		</xs:restriction>
		</xs:simpleType>
	</xs:schema>